{% extends 'admin/index.html' %}
{% block socis %}
    <!-- Caixa -->
    <div class="card bg-gradient-info">
        <!-- Capçalera Caixa -->
        <div class="card-header border-0">
            <h3 class="card-title"><i class="fas fa-th mr-1"></i> Nova importació:</h3>
            <div class="card-tools">
                <a href="https://www.google.com" class="btn btn-sm btn-primary btn-circle"><i class="fas fa-plus"></i></a>
                <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown"><i class="fas fa-wrench"></i></button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a href="#" class="dropdown-item">New</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">Something else here</a>
                        <a class="dropdown-divider"></a>
                        <a href="#" class="dropdown-item">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. Capçalera Caixa -->
        <!-- Contingut caixa -->
        <div class="card-body">
            <!-- form -->
                <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-default float-right" href="{% url 'socis:importacions' %}">Cancelarl</a>
                </form>
            <!-- ./form -->
        </div>
        <!-- /.Contingut Caixa -->
    </div>
    <!-- /. Caixa -->
{% endblock socis %}
